{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Income Source</title>

    <link rel="stylesheet" href="{% static 'css/manage_money.css' %}">

</head>

<body>


    <!-- Main Content -->

    <section class="setup-section">
        <!-- Logo -->

        <header class="page-header">

            <img src="{% static 'images/vetrilogo.png' %}" alt="Logo" class="logo">

        </header>

        <h1>
            Let's Set Up Your Finances ⭐
        </h1>

        <p>
            Let's Set Up Your Finances
        </p>

        <div class="income-card">

            <h2>
                Where do you manage your money?
            </h2>

            <div class="money-options">

                <label class="checkbox-item">

                    <input type="checkbox" name="money_source" value="Bank Account">

                    <span>Bank Account</span>

                </label>

                <label class="checkbox-item">

                    <input type="checkbox" name="money_source" value="Credit Card">

                    <span>Credit Card</span>

                </label>

                <label class="checkbox-item">

                    <input type="checkbox" name="money_source" value="UPI">

                    <span>UPI</span>

                </label>

                <label class="checkbox-item">

                    <input type="checkbox" name="money_source" value="Wallet">

                    <span>Wallet</span>

                </label>

            </div>

            <div class="action-buttons">

                <button class="back-btn">
                    <a href="{% url 'monthly_income' %}">Back</a>
                </button>

                <button class="continue-btn" id="continueBtn">
                    Continue
                </button>

            </div>

        </div>
        <footer>

            <p>
                © 2026 Smart Finance. All rights reserved.
            </p>

            <div class="footer-links">

                <a href="#">Privacy Policy</a>

                <a href="#">Terms</a>

                <a href="#">Help Center</a>

                <a href="#">Contact</a>

            </div>

        </footer>


    </section>

    <script>

        const continueBtn =
            document.getElementById('continueBtn');

        continueBtn.addEventListener('click', () => {

            const selectedOptions =
                document.querySelectorAll(
                    'input[name="money_source"]:checked'
                );

            if (selectedOptions.length === 0) {

                alert(
                    'Please select at least one option.'
                );

                return;
            }

            alert(
                'Money management options saved successfully!'
            );

            window.location.href = "{% url 'first_account' %}";

        });

    </script>
</body>

</html>