{% extends 'myfinance/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/transactions.css' %}">
{% endblock %}
{% block page_header %}

<header class="topbar">

    <div>

        <h1>Transactions</h1>

        <p>Track all your income and expenses</p>

    </div>

    <div class="profile-section">

        <button class="bell-btn">
            <i class="fa-regular fa-bell"></i>
        </button>

        <img src="{% static 'images/lillyprofile.png' %}" alt="">

        <span>Lilly</span>

    </div>

</header>

{% endblock %}
{% block content %}
<section class="page-content">
    <section class="summary-grid">

        {% for item in summaries %}

        <div class="summary-card {{ item.color }}">

            <div class="card-top">

                <h3>{{ item.title }}</h3>

                <div class="icon-box">
                    <i class="{{ item.icon }}"></i>
                </div>

            </div>

            <h2>{{ item.amount }}</h2>

            <span>{{ item.subtitle }}</span>

            <div class="wave-group">

                <div class="wave wave-1"></div>

                <div class="wave wave-2"></div>

                <div class="wave wave-3"></div>

            </div>
        </div>

        {% endfor %}

    </section>

    <section class="transaction-filter">

        <form method="GET" class="filter-form">

            <input type="text" name="search" placeholder="Search Transactions" value="{{ search }}">

            <select name="date_range">
                <option value="7">Last 7 Days</option>
                <option value="30">Last 30 Days</option>
                <option value="90">Last 90 Days</option>
                <option value="custom">Custom Range</option>
            </select>

            <select name="type">
                <option value="All">All</option>
                <option value="Income">Income</option>
                <option value="Expense">Expense</option>
            </select>

            <button type="submit" class="filter-btn">
                Filter
            </button>

        </form>

        <a href="#" class="add-btn" id="openModal">
            + Add Transaction
        </a>


        <!-- Modal Overlay -->
        <div class="modal-overlay" id="transactionModal">

            <div class="transaction-modal">

                <div class="modal-header">
                    <h2>Add Transaction</h2>

                    <button type="button" class="close-btn" id="closeModal">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>

                <form id="transactionForm" novalidate>
                    <div class="form-grid">

                        <div class="form-group">
                            <label>Type</label>

                            <select id="type" required name="transaction_type">
                                <option value="">Select Type</option>
                                <option value="Income">Income</option>
                                <option value="Expense">Expense</option>
                            </select>

                            <small class="error"></small>
                        </div>


                        <div class="form-group">
                            <label>Amount</label>

                            <input type="number" id="amount" placeholder="Enter amount" min="1" required name="amount">

                            <small class="error"></small>
                        </div>


                        <div class="form-group">
                            <label>Category</label>

                            <select id="category" required name="category">

                                <option value="">Select Category</option>

                                <option>Food</option>
                                <option>Bills</option>
                                <option>Shopping</option>
                                <option>Transportation</option>
                                <option>Others</option>
                                <option>Mobile Recharge</option>
                                <option>Salary</option>
                                <option>Health Care</option>

                            </select>

                            <small class="error"></small>
                        </div>


                        <div class="form-group">
                            <label>Date</label>

                            <input type="date" id="date" name="transaction_date" required>

                            <small class="error"></small>
                        </div>

                    </div>

                    <div class="form-group">

                        <label>Description</label>

                        <textarea id="description" rows="4" placeholder="Write transaction details..."
                            name="notes"></textarea>

                    </div>

                    <div class="modal-footer">

                        <button type="button" class="back-btn" id="cancelBtn">
                            Back
                        </button>

                        <button type="submit" class="save-btn">
                            Add Transaction
                        </button>

                    </div>

                </form>

            </div>

        </div>

    </section>

    <section class="transaction-box">

        <h2>Transactions</h2>

        {% for transaction in transactions %}

        <div class="transaction-item">

            <div class="transaction-left">

                {% if transaction.icon %}
                <img src="{{ transaction.icon.url }}" alt="{{ transaction.title }}">
                {% else %}
                <img src="{% static 'images/default-transaction.png' %}" alt="Default Transaction">
                {% endif %}

                <div>

                    <h3>{{ transaction.title }}</h3>

                    <span>

                        {{ transaction.category }}

                        •

                        {{ transaction.transaction_date|date:"d M Y" }}

                        •

                        {{ transaction.payment_method }}

                    </span>

                </div>

            </div>

            <div class="transaction-right">

                {% if transaction.transaction_type == 'Income' %}

                <h4 class="income">
                    +₹{{ transaction.amount }}
                </h4>

                {% else %}

                <h4 class="expense">
                    -₹{{ transaction.amount }}
                </h4>

                {% endif %}

                <a href="#" class="edit-btn" data-type="{{ transaction.transaction_type }}"
                    data-amount="{{ transaction.amount }}" data-category="{{ transaction.category }}"
                    data-date="{{ transaction.transaction_date|date:'Y-m-d' }}"
                    data-description="{{ transaction.notes }}">
                    <i class="fa-solid fa-pen"></i>
                </a>
                <!-- Edit Transaction Modal -->

                <div class="modal-overlay" id="editModal">

                    <div class="transaction-modal">

                        <div class="modal-header">

                            <h2>Edit Transaction</h2>

                            <button type="button" class="close-btn" id="editCloseBtn">

                                <i class="fa-solid fa-xmark"></i>

                            </button>

                        </div>


                        <form id="editTransactionForm" novalidate>

                            <div class="form-grid">

                                <div class="form-group">

                                    <label>Type</label>

                                    <select id="editType" required>

                                        <option value="">Select Type</option>

                                        <option value="Income">
                                            Income
                                        </option>

                                        <option value="Expense">
                                            Expense
                                        </option>

                                    </select>

                                    <small class="error"></small>

                                </div>


                                <div class="form-group">

                                    <label>Amount</label>

                                    <input type="number" id="editAmount" min="1" required>

                                    <small class="error"></small>

                                </div>


                                <div class="form-group">

                                    <label>Category</label>

                                    <select id="editCategory" required>

                                        <option value="">Select Category</option>

                                        <option>Food</option>
                                        <option>Bills</option>
                                        <option>Shopping</option>
                                        <option>Transportation</option>
                                        <option>Others</option>
                                        <option>Mobile Recharge</option>
                                        <option>Salary</option>
                                        <option>Health Care</option>

                                    </select>

                                    <small class="error"></small>

                                </div>


                                <div class="form-group">

                                    <label>Date</label>

                                    <input type="date" id="editDate" required>

                                    <small class="error"></small>

                                </div>

                            </div>


                            <div class="form-group">

                                <label>Description</label>

                                <textarea id="editDescription" rows="4"
                                    placeholder="Write transaction details..."></textarea>

                            </div>


                            <div class="modal-footer">

                                <button type="button" class="back-btn" id="editCancelBtn">

                                    Back

                                </button>


                                <button type="submit" class="save-btn">

                                    Save Changes

                                </button>

                            </div>

                        </form>

                    </div>

                </div>

                <a href="{% url 'delete_transaction' transaction.id %}"
                    onclick="return confirm('Are you sure you want to delete this transaction?');" class="delete-btn">

                    <i class="fa-regular fa-trash-can"></i>

                </a>
            </div>

        </div>

        {% empty %}

        <div class="empty-transaction">

            <i class="fa-solid fa-wallet"></i>

            <h3>No Transactions Found</h3>

            <p>Add your first transaction from the button above.</p>

        </div>

        {% endfor %}

    </section>

</section>
<script>
    // Add Transactions
    const modal = document.getElementById("transactionModal");

    document.getElementById("openModal").addEventListener("click", function (e) {
        e.preventDefault();
        modal.classList.add("show");
        document.body.style.overflow = "hidden";
    });

    function closeModal() {
        modal.classList.remove("show");
        document.body.style.overflow = "";
    }

    document.getElementById("closeModal").addEventListener("click", closeModal);

    document.getElementById("cancelBtn").addEventListener("click", closeModal);


    window.addEventListener("click", function (e) {
        if (e.target === modal) {
            closeModal();
        }
    });


    document.getElementById("transactionForm").addEventListener("submit", function (e) {
        e.preventDefault();
        let valid = true; document.querySelectorAll(".error").forEach(error => { error.textContent = ""; });
        const type = document.getElementById("type");
        const amount = document.getElementById("amount");
        const category = document.getElementById("category");
        const date = document.getElementById("date");
        if (type.value === "") { type.nextElementSibling.textContent = "Please select type"; valid = false; }
        if (amount.value.trim() === "" || Number(amount.value) <= 0) {
            amount.nextElementSibling.textContent = "Enter valid amount";
            valid = false;
        }
        if (category.value === "") { category.nextElementSibling.textContent = "Please select category"; valid = false; }
        if (date.value === "") { date.nextElementSibling.textContent = "Please select date"; valid = false; }
        if (valid) {
            alert("Transaction added successfully!");
            this.reset();
            closeModal();
        }
    });
    // Edit Transaction
    const editModal = document.getElementById("editModal");

    const editForm = document.getElementById("editTransactionForm");


    document.querySelectorAll(".edit-btn").forEach(btn => {

        btn.addEventListener("click", function (e) {

            e.preventDefault();

            document.getElementById("editType").value =
                this.dataset.type;

            document.getElementById("editAmount").value =
                this.dataset.amount;

            document.getElementById("editCategory").value =
                this.dataset.category;

            document.getElementById("editDate").value =
                this.dataset.date;

            document.getElementById("editDescription").value =
                this.dataset.description || "";

            editModal.classList.add("show");

            document.body.style.overflow = "hidden";

        });

    });


    function closeEditModal() {

        editModal.classList.remove("show");

        document.body.style.overflow = "";

    }


    document.getElementById("editCloseBtn")
        .addEventListener("click", closeEditModal);


    document.getElementById("editCancelBtn")
        .addEventListener("click", closeEditModal);


    window.addEventListener("click", function (e) {

        if (e.target === editModal) {

            closeEditModal();

        }

    });


    editForm.addEventListener("submit", function (e) {

        e.preventDefault();

        let valid = true;

        editForm.querySelectorAll(".error").forEach(error => {

            error.textContent = "";

        });


        const type = document.getElementById("editType");

        const amount = document.getElementById("editAmount");

        const category = document.getElementById("editCategory");

        const date = document.getElementById("editDate");


        if (type.value === "") {

            type.nextElementSibling.textContent =
                "Please select type";

            valid = false;

        }


        if (amount.value.trim() === "" ||
            Number(amount.value) <= 0) {

            amount.nextElementSibling.textContent =
                "Enter valid amount";

            valid = false;

        }


        if (category.value === "") {

            category.nextElementSibling.textContent =
                "Please select category";

            valid = false;

        }


        if (date.value === "") {

            date.nextElementSibling.textContent =
                "Please select date";

            valid = false;

        }


        if (valid) {

            alert("Transaction updated successfully!");

            closeEditModal();

        }

    });
</script>
{% endblock %}